.WorkItem {
  padding-top: 5rem;
  background: var(--lightGrey);
}

.WorkItem--BackButton {
  color: var(--primary);
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
}

.WorkItem--BackButton svg {
  transition: transform 0.2s ease-out;
  transform: translateX(0);
  height: 1.2em;
}

.WorkItem--BackButton:hover svg,
.WorkItem--BackButton:focus svg {
  transform: translateX(-0.25em);
}

.WorkItem--Content {
  background: white;
  padding: 8rem 8rem 4rem 8rem;
}

@media screen and (max-width: 750px) {
  .WorkItem--Content {
    padding: 4rem 2rem;
  }
}

.WorkItem--Meta > * + * {
  margin-left: 0.75em;
}

.workItem--MetaPrice {
  display: block;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 0;
}

.WorkItem--Title {
  text-align: center;
  line-height: 1.2;
}

.WorkItem--InnerContent {
  padding: 0 8rem;
}

@media screen and (max-width: 750px) {
  .WorkItem--InnerContent {
    padding: 0;
  }
}

.WorkItem--Pagination {
  margin: 4rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.WorkItem--Pagination--Link {
  color: var(--primary);
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.WorkItem--Pagination--Link svg {
  transition: transform 0.2s ease-out;
  transform: translateX(0);
  height: 1.2em;
}

.WorkItem--Pagination--Link.prev:hover svg,
.WorkItem--Pagination--Link.prev:focus svg {
  transform: translateX(-0.25em);
}

.WorkItem--Pagination--Link.next:hover svg,
.WorkItem--Pagination--Link.next:focus svg {
  transform: translateX(0.25em);
}

.WorkItem--Pagination--Link.next {
  margin-left: auto;
}
